.main-content {
  padding: 7em 5em 4em 4em;
  height: 100%;
  color: white;
  background: rgba(141, 141, 141, 0.6);
  * { box-sizing: border-box; }
  .video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
  #video-foreground,
  .video-background iframe {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 110%;
    pointer-events: none;
  }

  .header-title {
    h1 {
      font-size: 4em;
      font-weight: bold;
      line-height: 1em;
      margin-bottom: 0.375em;
    }
    p {
      padding-left: 0.5em;
      font-size: 2em;
      line-height: 1.3em;
      width: 40vw;
      font-weight: lighter;
      color: #FFFFFF;
    }
  }
  #insight-list {
    position: fixed;
    bottom: 4em;
    left: 5em;
    height: 19em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .insight {
      display: flex;
      align-items: center;
      p {
        font-weight: 200;
        font-size: 2em;
        display: inline-block;
        margin-left: 2.5em;
      }
      img {
        width: 3em;
        height: auto;
        max-height: 3em;
        display: inline-block;
        &#thumb_up {
          width: 2.5em;
          margin: 0.25em;
        }
        &#open {
          width: 1.5em;
          margin: 0.75em;
        }
      }
    }
  }
}

#apartments-panel {
  display: none;
  section#apartments-container {
    padding: 0;
    background-position: center;
    background-size: cover;
    .apartment-link {
      text-decoration: none;
      .apartment {
        position: relative;
        min-height: 350px;
        padding: 50px;
        text-align: right;
        background-color: rgba(119, 119, 119, 0);
        transition: background-color 0.3s;
        p {
          color: white;
          opacity: 0;
          font-size: 1em;
          padding-left: 30%;
          transition: opacity 0.3s;
          letter-spacing: 1px;
          &.title {
            font-weight: normal;
            font-size: 1.3em;
          }
          &.underline {
            text-decoration: underline;
            font-weight: bold;
          }
        }
        &:hover {
          background-color: rgba(119, 119, 119, 0.7);
          p {
            opacity: 1;
          }
        }
        @media (max-width: 750px) {
          padding: 20px;
          background-color: rgba(119, 119, 119, 0.7);
          p {
            opacity: 1;
            padding-left: 0;
            font-weight: lighter;
          }
        }
        .btn-primary.btn-xl {
          @media (max-width: 750px) {
            display: none;
          }
          position: absolute;
          bottom: 3.75em;
          left: 3.75em;
        }
      }
    }
  }
}
