
.appartment-details-header {

  #carousel {
    // overflow: hidden;
    .carousel-inner {
      height: 13em;
      .carousel-item {
        position: relative;
        height: 100%;
        background-position: middle bottom;
        background-size: cover;

        h1 {
          font-size: 20px;
        }
        .image-blur {
          position: absolute;
          width: 100%;
          filter: blur(3px);
        }
        .image-box {
          position: absolute;
          height: 100%;
          width: 100%;
          text-align: center;
          .image {
            height: 100%;
          }
        }
      }
    }
  }
}


#description-header {
  margin-top: 1em;
  padding: 0;
  padding-left: 0.25em;
  position: relative;
  p {
    margin: 0;
  }
  .title {
    font-size: 1.25em;
    font-weight: bold;
    &.surface {
      padding-left: 0.5em;
    }
  }
  #price-box {
    position: absolute;
    background-color: #575757;
    top: 0;
    right: 0;
    width: 7.625em;
    height: 3.875em;
    text-align: right;
    color: #F1F1F1;
    padding-right: 0.5em;
    font-weight: lighter;
    .price {
      margin-top: -0.1em;
      font-size: 2.125em;
    }
    .unity {
      margin-top: -0.75em;
      font-size: 1em;
      color: #D0D0D0;
    }
  }
  #description-content-insights {
    margin-top: 1.25em;
    .description-content {
      font-size: 0.8em;
    }
    .insights {
      font-size: 0.8em;
      padding: 0.5em 1em;
      .insight {
        margin: 0.25em 1.25em;
        p {
          font-size: 1em;
          display: flex;
          align-items: center;
          svg {
            margin-right: 0.3em;
          }
        }
      }
    }
  }
}

#rooms-description {
  padding: 0;
  .btn-group {

  }
}

