.main-content {
  padding: 3.5em 5em 4em 4em;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba(141, 141, 141, 0.6);
  * { box-sizing: border-box; }
  @media (max-width: 1200px) {
    font-size: 15px;
  }
  .video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
  #video-foreground,
  .video-background iframe {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 110%;
    pointer-events: none;
  }

  .header-title {
    h1 {
      font-size: 4em;
      font-weight: bold;
      line-height: 1em;
      margin-bottom: 0.375em;
    }
    p {
      padding-left: 0.5em;
      font-size: 2em;
      line-height: 1.3em;
      width: 40vw;
      font-weight: lighter;
      color: #FFFFFF;
    }
  }
  #insight-list {
    position: fixed;
    bottom: 4em;
    left: 5em;
    height: 19em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .insight {
      display: flex;
      align-items: center;
      p {
        font-weight: 200;
        font-size: 2em;
        display: inline-block;
        margin-left: 2.5em;
      }
      img {
        width: 3em;
        height: auto;
        max-height: 3em;
        display: inline-block;
        &#thumb_up {
          width: 2.5em;
          margin: 0.25em;
        }
        &#open {
          opacity: .8;
          width: 1.5em;
          margin: 0 0.75em;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  #staticmap-box {
    position: fixed;
    bottom: 5em;
    right: 5em;
    padding: .1em;
    background-color: rgba(141, 141, 141, 0.6);
    height: 11em;
    width: 11em;
    .display-hover {
      color: white;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      z-index: 3;
      opacity: 0;
      text-align: center;
      background-color: rgba(141, 141, 141, 0.6);
      font-size: 1.5em;
      transition: opacity .5s;
      &:hover {
        opacity: 1;
      }
    }
    #map {
      z-index: 1;
      background-color: rgba(141, 141, 141, 0.6);
      height: 100%;
      width: 100%;
    }
  }
  #toggle-panel-right {
    position: fixed;
    top: 3.6em;
    right: 4em;
    color: white;
    background-color: $theme-primary;
    border-radius: 5px;
    text-align: center;
    opacity: .9;
    transition: right .4s;
    img {
      display: none;
      width: 2.75em;
    }
    span {
      font-size: 1.125em;
      letter-spacing: 1.5px;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &:active {
      top: 3.4em;
    }
    &.reduced {
      padding: .25em;
      right: 34vw;
      border-radius: 50%;
      span {
        display: none;
      }
      img {
        display: block;
      }
    }
  }
}

#apartments-panel {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 31vw;
  transition: left .4s;
  &.expand {
    left: 69%;
  }
  // @media () {
  //
  // }
  .apartment {
    display: block;
    position: relative;
    height: 25vh;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    padding: 2em 2.5em;
    overflow: hidden;
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: .8;
      transition: opacity 0.3s;
    }
    p {
      z-index: 3;
      color: white;
      letter-spacing: 1px;
      &.title {
        margin-left: -.5em;
        font-weight: 300;
        font-size: 1.5em;
      }
      &.underline {
        text-decoration: underline;
        font-weight: bold;
      }
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}
