<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light">
        <p class="text-faded">We're taking care of everything during your journey in Bordeaux. The only thing you need to think is what are you going to do and when in one of the most beautifull city of France.</p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">See Our Services</a>
      </div>
    </div>
  </div>
</section>
