<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-image: linear-gradient(-225deg, rgba(159, 159, 159,0.1) 0%, rgba(53, 53, 53,0.2) 50%);">
  <div class="container-fluid p-3">
    <%= link_to flats_path, class: "navbar-brand js-scroll-trigger back" do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to Index
    <% end %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="appartment-details-header">
  <div class="container-fluid p-0">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @flat.photos.each_with_index do |photo, i| %>
          <div class="carousel-item flip">
            <%= cl_image_tag photo.path, width: "100%", class: "d-block img-fluid flip" %>
          </div>
        <% end %>
        <div id="price-over-carrousel"></div>
      </div>
    </div>
  </div>
</header>

<%= content_for :after_js do %>
<script>
$(document).ready(function(e) {
  $('.carousel-inner>.carousel-item:first-child').addClass("active")
  $('.carousel').carousel({
    interval: 3500,
    pause: "none"
  })
});
</script>
<% end %>
