<!DOCTYPE html>
<html>
  <head>
    <title>House City Bordeaux</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
